* {
  box-sizing: border-box;
}
html,
body {
  margin:0;
  padding:0;
  height:100%;
}
body {
  background-color: #444349;
  background-image: url('../images/stardust.png');
  color: #9d9d9d;
  font-family: 'Share Tech', sans-serif;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table
}
.clearfix:after {
  clear: both
}
a {
   color: #337ab7;
   text-decoration: none;
 }
a:hover, a:focus {
  color: #22bcf8;
}
header {
  background-color: #222;
  border-bottom: 1px solid #090909;
}
h1, .toggle-nav {
  padding: 0 15px;
  line-height: 60px;
  font-size: 30px;
}
h1 {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
}
.toggle-nav {
  float: right;
}
.nav {
  clear: both;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: max-height 1s;
}
.toggle-nav:hover + .nav, .toggle-nav:focus + .nav, .nav:hover {
  max-height: 400px;
}
.nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li a, .nav li.text {
  display: block;
  line-height: 20px;
  border-top: 1px solid #090909;
  padding: 5px 15px;
}
.nav li a:hover {
  background-color: #444349;
}

canvas {
  width: 100%; /* the canvas is always rendered at 400x400, and then the browser stretches it to 100% as if it were an image */
  display: block;
  margin: auto;
}

/* large(er) screen rules */
@media(min-width: 900px) {
  .container {
    max-width: 900px;
  }
  main {
    width: 600px;
    float: left;
  }
  header {
    width:300px;
    float: right;
  }
  .toggle-nav {
    display: none;
  }
  .nav {
    max-height: 400px;
  }
}

